<div class="container-fluid">
  <form [formGroup]="form" (ngSubmit)="addRecipe()">
    <table>
      <tr>
        <label for="title"><h3>Title</h3></label>
      </tr>
      <tr>
        <input type="text" id="title" placeholder="Add recipe name" formControlName="title">
      </tr>
      <table>
        <tr>
          <tr><h3>Ingredients</h3></tr>
          <td><button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="right" title="Click to add ingredient(s)"(click)="addIngredient()">+</button></td>

      </table>
      <table>
        <tbody formArrayName="ingredients">
          <tr *ngFor="let ingControl of controls; let i = index" [formGroupName]="i">
            <td><input type="text" class="form-control" formControlName="name"></td>
            <td>
              <button  type="button" class="btn-close" aria-label="Close" (click)="deleteIngredient(i)"></button>
            </td>
          </tr>
        </tbody>
      </table>

      <table>

      </table>
      <tr>
        <h3>Instruction</h3>
      </tr>
      <tr>
        <textarea name="instruction" id="instruction" placeholder="Add cooking instructions" cols="50" rows="5"></textarea>
      </tr>
      <tr>
        <label for="image"><h3>Image</h3></label>
      </tr>
      <tr>
        <input type="text" id="image" placeholder="Insert image URL">
      </tr>
    </table>

    <table>
      <tr>
        <td>
          <button type="button" class="btn btn-danger" [routerLink]="['/']">Back</button>
        </td>
        <td>
          <button type="submit" class="btn btn-primary" [disabled]="form.invalid" (click)="addRecipe()">Add</button>
        </td>
      </tr>
    </table>
  </form>
</div>
